
*.bak
*.o
*.dep
*.pckl

docs/_build/html/
docs/_build/doctrees/

src/turbulenceModels/incompressible/turbulenceModel/lnInclude/
src/turbulenceModels/incompressible/turbulenceModel/Make/linux64GccDPOpt/
src/turbulenceModels/incompressible/RAS/lnInclude/
src/turbulenceModels/incompressible/RAS/Make/linux64GccDPOpt/

applications/solvers/ABLRANS_Solver/Make/linux64GccDPOpt/
applications/utilities/calcZaboveGround/Make/linux64GccDPOpt/
applications/utilities/setRANSfieldsABL/Make/linux64GccDPOpt/
applications/utilities/writeMeshCoordinates/Make/linux64GccDPOpt/

exampleCases/GABLS3/monitoring/
exampleCases/GABLS3/pyFiles/lib/__pycache__/
exampleCases/GABLS3/0/
exampleCases/GABLS3/constant/polyMesh/
exampleCases/GABLS3/log/
exampleCases/GABLS3/postProcessing/probes/
exampleCases/GABLS3/postProcessing/SourceHistory/
exampleCases/GABLS3/postProcessing/sets/
exampleCases/GABLS3/inputData/GABLS3_tendencies_d02_YSU_w60_L9000\.nc

exampleCases/GABLS3/processor0/
exampleCases/GABLS3/processor1/
exampleCases/GABLS3/processor2/
exampleCases/GABLS3/processor3/

exampleCases/GABLS3/log\.blockMesh
exampleCases/GABLS3/log\.decompose
exampleCases/GABLS3/log\.forcing
exampleCases/GABLS3/log\.modelRun
exampleCases/GABLS3/log\.setRANSfieldsABL
exampleCases/GABLS3/log\.calcZagl
